elm-stuff/
.vscode/settings.json
backup/
output/js/got-deadpool-1.0.0.min.js
output/js/got-deadpool-1.0.0.js
output/img/Arya.jpg
output/img/Beric.jpg
output/img/Bran.jpeg
output/img/Brienne.jpg
output/img/Bronn.jpg
output/img/Cersei.jpg
output/img/Daenerys.jpg
output/img/Davos.png
output/img/Drogon.jpg
output/img/Ellaria.jpg
output/img/Euron.png
output/img/Gendry.jpg
output/img/Gilly.jpg
output/img/Gregor.jpg
output/img/GreyWorm.jpg
output/img/Jamie.jpg
output/img/JonSnow.jpg
output/img/Jorah.jpg
output/img/Melisandre.jpg
output/img/Missandei.jpg
output/img/NightKing.jpg
output/img/Rhaegal.png
output/img/Samwell.jpg
output/img/Sandor.jpg
output/img/Sansa.jpg
output/img/Theon.jpg
output/img/Tormund.jpg
output/img/Tyrion.jpg
output/img/Varys.jpg
output/img/Yara.jpg
